body
{
	background-color:#444444;
	color: #bbbbbb;
	font-family:sans-serif;
}

h1,h2
{
	color:#990000;
}


#buttonContainer {
  float: right;
}

#timerDisplay {
		background-color: #222222;
    border-right: solid 1px white;
    border-bottom: solid 1px white;
    border-top: solid 1px black;
    border-left: solid 1px black;
    font-size: 48px;
		padding: 8px;
    margin-left: 10px;
    width: 150px;
    text-align: center;
}

.btnPomodoro {
  margin: 5px;
  margin-right: 10px;
  background-color: #990000;
  padding: 2px;
  text-align: center;

  border-top: solid 1px #cc0000;
  border-left: solid 1px #cc0000;
  border-right: solid 1px #330000;
  border-bottom: solid 1px #330000;
  
}
.btnPomodoroActive {
  margin: 5px;
  margin-right: 10px;
  background-color: #009900;
  padding: 2px;
  text-align: center;

  border-top: solid 1px #00cc00;
  border-left: solid 1px #00cc00;
  border-right: solid 1px #003300;
  border-bottom: solid 1px #003300;
}

#timerLog {
    margin-top: 0.5em;
}

.logEntry {
    font-size: 0.75em;
    font-weight: bold;
    margin-left: 1.0em;
}

.logEntryTime {
  padding-left: 3px;
  padding-right: 3px;
  margin-right: 5px;
  color: #00cc00;
}

.logEntryMessage {
}

